*{
    margin: 0;
    padding: 0;
    /* border: 0; */
    text-decoration: none;
}
nav h1{
    color: black;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
:root{
    --main-color:#f4f3f3;
    --brown-hover:brown;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    padding: 10px 100px;
}
.nav-list .nav-item{
    margin-right: 40px;
    list-style: none;
}
.nav-list .nav-item a{
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: 18px;
}
.nav-list .nav-item a:hover{
    color: var(--brown-hover);
    cursor: pointer;
}
.nav-item i{
    font-size: 20px;
    padding-left: 10px;
}
section{
    margin-top: 100px;
}
.dropdown-content {
    display: none;
    position: relative;
    overflow:visible;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: brown;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .content1{
    display: flex;
    margin-left: 20px;
  }
  .content11{
    height: 300px;
    width: 600px;
    background-color: rgb(239, 160, 239);
  }
  .content12 img{
    height: 300px;
    width: 600px;
  }
  footer{
    background-color: #efeeee;
  }
  .fot1{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    padding: 50px;
  }
  .fot1 hr{
    width: 360px;
  }
  .fot1 p:hover{
    color: var(--brown-hover);
  }
  .fot2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 50px;
    
  }